.default-theme {
    background: #99abb4; }
  
  .green-theme {
    background: #06d79c; }
  
  .yellow-theme {
    background: #ffb22b; }
  
  .red-theme {
    background: #ef5350; }
  
  .blue-theme {
    background: #398bf7; }
  
  .purple-theme {
    background: #7460ee; }
  
  .megna-theme {
    background: #56c0d8; }
  
  